    :root{
        --purple-primary: #554DDE;
        --accent-pink: #F44E77;
        --neutral-light: #F2F6FF;
        --lavander-secondary: #6a6d9e;
        --dark-primary: #16194f;
        --border-colour: #CAB6F1;
    }